<div class="container">
    <div class="row justify-content-center">
        <div class="console-style console-header col-8 text-center">
            <app-click-word #heading
                        [text]="this.status.location"
                        (select)="select($event)">
            </app-click-word>
        </div>
    </div>
    <div class="row justify-content-center">
        <div #console class="console console-style col-8" [scrollTop]="console.scrollHeight">
            <div class="console-line" *ngFor="let line of feed">
                <app-click-word *ngFor="let word of line"
                            [text]="word"
                            (select)="select($event)">
                </app-click-word>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <button (click)="select('Hand')" class="btn btn-lg btn-primary">
            <i class="fa fa-hand-paper-o" aria-hidden="true"></i>
        </button>
        <button (click)="select('North')" class="btn btn-lg btn-primary">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </button>
        <button (click)="select('Look')" class="btn btn-lg btn-primary">
            <i class="fa fa-eye" aria-hidden="true"></i>
        </button>
    </div>
    <div class="row justify-content-center">
        <button (click)="select('West')" class="btn btn-lg btn-primary">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </button>
        <button (click)="select('Inventory')" class="btn btn-lg btn-primary">
            <i class="fa fa-suitcase" aria-hidden="true"></i>
        </button>
        <button (click)="select('East')" class="btn btn-lg btn-primary">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </button>
    </div>
    <div class="row justify-content-center">
        <button (click)="select('South')" class="btn btn-lg btn-primary">
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
        </button>
    </div>
</div>
